<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Animations</title>
    <link rel="stylesheet" href="/assets/styles/index.css"></link>
</head>
<body>
    <div id="foremostContainer">
        <canvas id="canvasBackground"></canvas>
        <div id="expBarsContainer">
            <div id="expBar1"></div>
        </div>
        <canvas id="canvas1"></canvas>
        <div id="characterContainer">
            <div id="innerContainer">
                <div id="healthBarBackground"></div> 
                <div id="healthBarBloodContainer">
                    <div id="healthBloodBar"></div>
                </div>  
                <div id="healthBarContainer">
                    <div id="healthBar1"></div>
                    <div id="healthBar2"></div>
                    <div id="healthBar3"></div>
                </div>
                <div id="energyBarBackground"></div>
                <div id="energyBarContainer">
                    <div id="energyBar1"></div>
                    <div id="energyBar2"></div>
                </div>
            </div>
        </div>
    </div>    

    <script src="../scripts/weaponsStats.js"></script>
    <script src="../scripts/blood.js"></script>
    <script src="../scripts/character2D.js"></script>
    <script src="../scripts/charactersStats.js"></script>
    <script src="../scripts/mobs2D.js"></script>
    <script src="../scripts/mobsStats.js"></script>
    <script src="../scripts/layers.js"></script>
    <script src="../scripts/hud.js"></script>
    <script src="../scripts/index.js"></script>
</body>
</html>