<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honkai FanGame</title>
    <link rel="stylesheet" href="/assets/styles/index.css"></link>
</head>
<body>
    <div id="foremostContainer">
        <canvas id="canvasBackground"></canvas>
        <div id="expBarsContainer">
            <div id="expBar1"></div>
        </div>
        <canvas id="canvas1"></canvas>
        <div id="characterContainer">
            <div id="innerContainer">
                <div id="healthBarBackground"></div> 
                <div id="healthBarBloodContainer">
                    <div id="healthBloodBar"></div>
                </div>  
                <div id="healthBarContainer">
                    <div id="healthBar1"></div>
                    <div id="healthBar2"></div>
                    <div id="healthBar3"></div>
                </div>
                <div id="energyBarBackground"></div>
                <div id="energyBarContainer">
                    <div id="energyBar1"></div>
                    <div id="energyBar2"></div>
                </div>
            </div>
        </div>
    </div>    

    <script src="../scripts/gameProperties.js"></script>
    <script src="../scripts/hud/characterIcon.js"></script>
    <script src="../scripts/hud/characterCard.js"></script>
    <script src="../scripts/hud/characterExpBars.js"></script>
    <script src="../scripts/hud/characterLevel.js"></script>
    <script src="../scripts/hud/characterLifeBar.js"></script>
    <script src="../scripts/hud/characterSpBars.js"></script>
    <script src="../scripts/characters/animation/gutsAnimation.js"></script>
    <script src="../scripts/characters/animation/seeleAnimation.js"></script>
    <script src="../scripts/characters/animation/cartethyiaAnimation.js"></script>
    <script src="../scripts/characters/animation/keqingAnimation.js"></script>
    <script src="../scripts/characters/moveset/seeleMoveset.js"></script>
    <script src="../scripts/characters/moveset/cartethyiaMoveset.js"></script>
    <script src="../scripts/characters/moveset/gutsMoveset.js"></script>
    <script src="../scripts/characters/moveset/keqingMoveset.js"></script>
    <script src="../scripts/characters/character.js"></script>
    <script src="../scripts/player.js"></script>
    <script src="../scripts/background.js"></script>
    <script src="../scripts/listeners.js"></script>
    <script src="../scripts/main.js"></script>
</body>
</html>