body {
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: content-box;
    background-color: black;
}

#foremostContainer {
    position: absolute;
    width: 1480px;
    height: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#canvas1 {
    position: absolute;
    /* border: 2px solid rgb(255, 0, 0); */
    width: 1480px;
    height: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#canvasBackground {
    position: absolute;
    /* border: 2px solid rgb(255, 0, 0); */
    width: 1480px;
    height: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#characterContainer {
    position: absolute;
    width: 1480px;
    height: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
    border: 2px solid red;
}

#innerContainer {
    width: 540px;
    height: 156px;
}

#healthBarContainer {
    align-content: end;
    margin-top: 34px;
    width: 371px;
    height: auto;
    margin-left: 167px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.5% 100%);
}

#healthBar1 {
    width: 100%;
    height: 3.4px;
    background-color: rgb(0, 255, 200);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar1.yellow {
    background-color: rgb(255, 230, 0);
} #healthBar1.red {
    background-color: rgb(206, 0, 0);
}

#healthBar2 {
    width: 100%;
    height: 3px;
    background-color: rgb(150, 255, 230);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar2.yellow {
    background-color: rgb(245, 245, 180);
} #healthBar2.red {
    background-color: rgb(255, 186, 186);
}

#healthBar3 {
    width: 100%;
    height: 4px;
    background-color: rgb(3, 145, 114);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar3.yellow {
    background-color: rgb(185, 143, 3);
} #healthBar3.red {
    background-color: rgb(146, 0, 0);
}

#healthBarBloodContainer {
    position: absolute;
    width: 370px;
    height: 10.4px;
    margin-left: 168px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.2% 100%);
}

#healthBloodBar {
    width: 100%;
    height: 100%;
    background-color: rgb(128, 7, 7);
    transition: width 0.6s;
}

#healthBarBackground {
    position: absolute;
    width: 371px;
    margin-left: 168px;
    top: 34px;
    height: 10.4px;
    background-color: rgb(41, 68, 63);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
} #healthBarBackground.yellow {
    background-color: rgb(46, 45, 41);
} #healthBarBackground.red {
    background-color: rgb(46, 31, 31);
}

#energyBarContainer {
    align-content: end;
    margin-top: 14.5px;
    width: 361px;
    margin-left: 177px;
    height: 5.2px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
}

#energyBar1 {
    width: 100%;
    background-color: rgb(132, 0, 255);
    height: 3px;
}

#energyBar2 {
    width: 100%;
    height: 2px;
    background-color: rgb(70, 0, 136);
}

#energyBarBackground {
    position: absolute;
    top: 58px;
    margin-left: 176px;
    width: 363px;
    height: 6px;
    background-color: rgb(27, 0, 53);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
}

#expBarsContainer {
    position: relative;
    margin-top: 94px;
    width: 211px;
    height: 36px;
    margin-left: 315px;
    clip-path: polygon(48% 0%, 100% 0, 87% 92%, 17% 90%, 0 0);
}

#expBar1 {
    background-color: rgb(49, 192, 36);
    height: 100%;
    width: 0;
    position: absolute;
}